{% extends "layout.html.twig" %}

{% block title 'Inscription' %}

{% block content %}
    <h1>Connexion</h1>
    
    <form method ="post">
        <div>            
            <label>Email</label>
            <input type="text" name="email" value="">
        </div>
        <div>
            <label>Mot de passe</label>
            <input type="password" name="mdp">
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
            
{% endblock %}
