{% extends "layout.html.twig" %}

{% block title 'Inscription' %}

{% block content %}      

<div class="background-1">
    
    <div class="menu-haut">
        <nav>           
             {{ render(url('objectif_menu'))}}
        </nav>
    </div>
    
    <div class="container-connexion">
        <div class="container-debut">
            <p>Connexion</p>
        </div>    
            <div class="container-co-bis">
            
                <form method ="post">
                    <div class="container-inputs">
                        <div>            
                            <label>Email</label>
                            <input type="texte" name="email" value="" placeholder="...@...">
                        </div>
                        <div>
                            <label>Mot de passe</label>
                            <input type="password" name="mdp" placeholder="...">
                        </div>
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </div>
                    
                </form>

            </div>
        <div class="container-fin"></div>
    </div>
    
</div>
{% endblock %}
