{% extends "layout.html.twig" %}

{% block title 'Inscription' %}

{% block content %}   

<div class="background-1">
    
    <div class="menu-haut">
        <nav>           
             {{ render(url('objectif_menu'))}}
        </nav>
    </div> 
        
    <div class="container-connexion">
        <div class="container-debut">
            <p>Inscription</p>
        </div>    
            <div class="container-co-bis">
    
                <form method ="post" enctype="multipart/form-data">
                    <div class="container-inputs">                    
                        

                        <div class="right-margin form-column">
                            <label for="prenom">Votre Prénom</label>
                            <input type="texte" name="prenom" value="" placeholder="...">
                        </div>
                        <div class="right-margin form-column">
                            <label for="nom">Votre Nom</label>
                            <input type="texte" name="nom" value="" placeholder="...">
                        </div>
                        <div class="right-margin form-column">
                            <label for="pseudo">Votre pseudo</label>
                            <input type="texte" name="pseudo" value="" placeholder="...">
                        </div>
                        <div class="form-column">
                            <label for="email">Votre email</label>
                            <input type="email" name="email" value="" placeholder="...@...">
                        </div>
                        <div class="form-column">
                            <label for="mdp">Votre mot de passe</label>
                            <input type="password" name="mdp" placeholder="...">
                        </div>
                        <div>
                            <label for="mdp_confirm">Confirmation du mot de passe</label>
                            <input type="password" name="mdp_confirm" placeholder="...">
                        </div>
                        <div class="radio">
                            <label for="civilite">Vous êtes</label>
                            <input class="marge_radio" type="radio" name="civilite" value="h" checked="checked"> : Homme |
                            <input class="marge_radio" type="radio" name="civilite" value="f" checked=""> : Femme
                        </div>
                        
                        <div class="photo_inscription">
                            <img src="{{ asset('image/ajout-photo.jpg') }}" alt="image">
                            <label for="avatar" class="label-file">Ajouter une photo de profil</label>
                            <input class="input-file" type="file" name="avatar">
                        </div>
                        
                        
                        <input type="hidden" name="statut" value="membre">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>    

                </form>

            </div>
        <div class="container-fin"></div>
    </div> 
</div>
{% endblock %}
