{% extends "layout.html.twig" %}

{% block title 'Inscription' %}

{% block content %}
    <h1>Inscription</h1>
    
    <form method ="post">
        <div>            
            <label for="pseudo">Pseudo</label>
            <input type="text" name="pseudo" value="">
        </div>
        <div>            
            <label for="prenom">Prénom</label>
            <input type="text" name="prenom" value="">
        </div>
        <div>
            <label for="nom">Nom</label>
            <input type="text" name="nom" value="">
        </div>
        <div>
            <label for="email">E-mail</label>
            <input type="text" name="email" value="">
        </div>
        <div>
            <label for="mdp">Mot de passe</label>
            <input type="password" name="mdp">
        </div>
        <div>
            <label for="mdp_confirm">Confirmation du mot de passe</label>
            <input type="password" name="mdp_confirm">
        </div>
        <div>
            <label for="civilite">Civilité</label>
            <input type="radio" name="civilite" value="h" checked="checked"> : Homme
            <input type="radio" name="civilite" value="f" > : Femme
        </div>
        
         <div>
            <label for="avatar">Photo du profil : </label>
            <input type="file" name="avatar">
        </div>
        
        {#<input type="hidden" name="statut" value="membre">#}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
            
{% endblock %}
