{% extends "layout.html.twig" %}

{% block title 'Accueil' %}
    
{% block content %}
    
    {# affiche l'attribut titre de l'entité grâce à la méthode __toString() #}
    <h1>Tous les exercices pour : {{ objectif }}</h1>
     {% include 'programme_list.html.twig' %}
    
{% endblock %}
