<ul class="menu-liste">
    
    <li id="mon-objectif"> Mon objectif »</li>
    {% for objectif in objectifs %}        
        <li>
            <a href="{{ path('objectif', {id: objectif.id}) }}">{{ objectif.titre }}</a>
        </li>
    {% endfor %}
</ul>
