@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');

/* GENERAL */
body{
    font:16px 'Open sans',sans-serif;
    font-size-adjust:0.5;
    margin:0;
    background: #EEE;
}
a{
    text-decoration: none;
    margin: 0;
    cursor:default;
}
ul, li{
    width:auto;
    list-style: none;
    padding:0;
    margin:0;
}		
p{
    margin:0;
    padding:0;
}
hr{
    margin:0;
}

                
/***************************** HEADER ET BARRE DE NAVIGATION FIXE *******************************/
header{
	display:block;
	width:100%;
	margin: 0 auto;
	height: 50px;
	line-height:50px;
	background: rgba(30,45,53,0.7);
}
header nav ul li a{
	color:#fff;
	font-weight: 300;
}
nav{
	text-align:right;
}
ul li{
	display: inline-block;
	margin : 0 25px;
	text-align:center;
}
#logo-accueil{
	width:120px;
	float:left;
	margin:15px 40px;
}
header>nav>ul>li:last-child{
	text-transform: uppercase;
}
header>nav>ul>li:last-child::before{
	content: '\f2be ';
	font-family:'FontAwesome';
	margin-right:5px;
	color:#fff;
}

/******************************** COLONNE DE MENU FIXE **********************************/

/* ACCUEIL ZONE 1 : background + colonne menu */
.zone1, .zone2, .zone3, .zone5, .zone6{
	display:block;
	margin:0 auto;
	padding:0;
	width:100%;
	height:auto;
}
.menu-haut>nav{
    text-align: left;
}
.menu-haut{
    margin:0 auto;
    padding:0;
    width:100%;
    background:#000;
}
.menu-haut>nav>ul{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
    display:block;
    margin:0 auto;
    margin:0;
    padding:0;
    width:100%;
}
.menu-haut>nav>ul>li{
    width:10%;
    height:40px;
}
.colonne-menu>ul>li{
	display:block;
	margin:0;
	padding: 35px 0;
	width:25%;
	height:30px;
	line-height:30px;
	background:rgba(255,255,255,0.2);
	/*display:flex;
	flex-direction: column;
	height:auto;*/
}
.colonne-menu ul{
	background:url(../image/sportbook.jpg) center center scroll no-repeat;
        margin:0;
}
.colonne-menu>ul>li:first-child{
	background:black;
	color:white;
	font-weight:bolder;
	text-transform: uppercase;
        height:30px;
	line-height:30px;
}
.colonne-menu>ul>li>a{
	color:black;
}
.colonne-menu>ul>li:hover{
	font-weight:bolder;
	background:rgba(255,255,255,0.9);
        text-decoration:none;
}
.colonne-menu>ul>li:first-child:hover{
	background:black;
}
.zone1-texte{
	display:block;
	position:absolute;
	width:50%;
	margin:0 auto;
	right:10%;
	top:55%;
	transform:translateY(-50%);	
	padding:10px 25px;
	text-align: center;        
}
.slogan, .slogan-detail{
	background:rgba(255,255,255,0.5);
	margin:10px 0;
	padding:0 20px;
	font-family: Dosis;
}
.slogan>h1{
	text-transform: uppercase;
	margin:10px 15px;
	font-size:40px;
        font-weight:bolder;

}
.slogan-detail{
	font-size:24px;
	padding: 5px 20px;
}

/************************************* PAGE D'ACCUEIl ****************************************/

/* ACCUEIL ZONE 2 : bandeau pub */
.zone2{
	width:100%;
	height:250px;
	background: #000;
	color:#fff;
}
.zone2-container1{
	display:inline-block;
	width:60%;
	margin:0 auto;
	font-family:Dosis;
	font-size:28px;
	text-align:right;
	height:250px;
	line-height: 250px;
	vertical-align: top;
}
.zone2-container2{
	display:inline-block;
	height:250px;
	line-height: 250px;
	position:relative;
	top:42px;
}
#zone2-logo{
	display:inline-block;
	width:150px;
	vertical-align: center;
}
#zone2-photo{
	display:block;
	width:250px;
	margin:0 20px;
}

/*.zone2-container1>p{
	display:block;
	color:#fff;
	font-family:Dosis;
	font-size:28px;
	text-align:center;
	position:relative;
	width:100%;
	top:25%;
	transform:translateY(-50%);

}
#zone2-logo{
	display: inline-block;
	width:150px;
	vertical-align:bottom;
}
#zone2-photo{
	display:inline-block;
	width:250px;
	position:relative;
	vertical-align: center;
	margin-left:10px;

}*/

/* ACCUEIL ZONE 3 : comment ça marche */
h2{
	font-family: Dosis;
	font-weight: lighter;
	text-align: center;
	padding: 50px 0;
	margin:0;
}
.zone3{
	background: #fff;
	height:500px;
}
.zone3>ul{
	display:block;
	margin:0 auto;
	text-align: center;
	padding:30px 0;
}
.zone3>ul>li{
	margin:0 5%;
}
.zone3>ul>li>figure>img{
	display:block;
	width:150px;
}
figure{
	position:relative;
	margin:0 auto;
}
figcaption{
	display:block;
	text-align:center;
	position:absolute;
	width:100%;
	height:auto;
	font-family: Dosis;
	font-size:16px;
}
figcaption a{
	color:#000;
}
figcaption>a>p{
	font-weight: bolder;
	font-size:22px;
	margin-top:20px;
}

/* ACCUEIL ZONE 4 : slider */

.zone4{
	background: url(../image/fond-slider2.jpg) center center scroll no-repeat;
	background-color: #fff;
	background-size: cover;
	padding:20px;
}
/*.slider-photo{
	display:block;
	margin:0 auto;
	padding: 30px 0;
	width:700px;
	height:400px;
	background:url(../image/toujours-a-la-pointe.jpg) center center scroll no-repeat;
	background-size:contain;
}*/
/* #slides::after{
	content:'"Toujours à la pointe"';
	font-style: Dosis;
	font-style: italic;
	font-size:33px;
	z-index: 1;
} */


/* ACCUEIL ZONE 5 : bandeau pub avec juste le logo */
.zone5{
	background: #fff;
	height:120px;
}
.zone5>p{
	display:block;
	height:120px;
	text-align: center;
}
.zone5>p>img{
	width:200px;
	display:inline-block;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

/* ACCUEIL ZONE 6 : les avantages du site */
.zone6>ul{
	display:block;
	margin:0 auto;
	width:100%
	height:500px;
}
.zone6>ul>li{
	display:block;
	float:left;
	width:25%;
	margin:0;
	padding:0;
	height:500px;
}
.zone6-container{
	display:block;
	float:left;
	width:100%;
	height:100%;
}
/*.zone6>ul>li>div>p{
	display:inline-block;	
	color:#fff;
	vertical-align: center;
	margin:10%;
}*/
.zone6-titre{
	display:block;
	width:70%;
	height:40px;
	line-height:40px;
	margin:0 auto;
	border:solid 1px #fff;
	border-radius: 4px;
	position: relative;
	color:#fff;
	font-weight: bolder;
	top:33%;
	font-size:18px;
}
.zone6-titre>a{
        text-decoration:none;
        color:#fff;
}
.zone6-titre>a:hover{
        text-decoration:none;
        color:#fff;
}
.zone6-texte{
	display:block;
	width:70%;
	height:auto;
	line-height:auto;
	margin:20px auto;
	position:relative;
	color:#fff;
	top:30%;
}

.zone6>ul>li:first-child{
	background:url(../image/photo-bas1.jpg) center center scroll no-repeat;
	background-size: cover;
	z-index:0;
}
.zone6>ul>li:nth-child(2){
	background:url(../image/photo-bas2.jpg) center center scroll no-repeat;
	background-size: cover;
}
.zone6>ul>li:nth-child(3){
	background:url(../image/photo-bas3.jpg) center center scroll no-repeat;
	background-size: cover;
}
.zone6>ul>li:nth-child(4){
	background:url(../image/photo-bas4.jpg) center center scroll no-repeat;
	background-size: cover;
}

#zone6-container1{
	background:rgba(239,71,36,0.5);
}
#zone6-container2{
	background:rgba(112,204,221,0.5);
}
#zone6-container3{
	background:rgba(45,47,122,0.5);
}
#zone6-container4{
	background:rgba(0,0,0,0.5);
}
#zone6-container4>p{
	display:block;
	height:500px;
}
#zone6-container4>p>img{
	display:inline-block;
	width:180px;
	margin:0 auto;
	position:relative;
	top:80%;
}


/********************************* SLIDER DE LA PADE D'ACCUEIL *********************************/
/****** CSS pour le slider ******/

#slides{
    display:block;
    width:800px;
    margin:0 auto;
    padding: 20px 0;
}
#slides {
  display: none
}
#slides .slidesjs-navigation {
  margin-top:3px;
}
#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}
#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}
.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}
.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}
.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
  background-color: #fff;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
  color:#fff;
}
.slidesjs-pagination li a:hover {
  background-position: 0 -26px;
  color:#fff;
}
#slides a:link,
#slides a:visited {
  color: #fff
}
#slides a:hover,
#slides a:active {
  color: #fff
}
.navbar {
  overflow: hidden
}

/****** CSS RESPONSIVE pour le slider ******/

#slides {
	display: none
}

.container-slider {
	margin: 0 auto;
}

/* For tablets & smart phones */
@media (max-width: 767px) {
	body {
		padding-left: 20px;
		padding-right: 20px;
	}
	.container-slider {
		width: auto
	}
}

/* For smartphones */
@media (max-width: 480px) {
	.container-slider {
	width: auto
	}
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
	.container-slider {
	width: 724px
	}
}

/* For larger displays */
@media (min-width: 1200px) {
	.container-slider {
	width: 1170px
	}
}



/******************************* PAGE AFFICHAGE D'UN PROGRAMME *********************************/
/* CONTAINER PROGRAMME */
		.container{
			text-align: center;
			width: 50%;
			margin: 40px auto;
			border :solid 1px #222;
			background: #FFF;
			border-radius: 10px;
		}
/* INFOS DU PROGRAMME */

	/* Photo */
		.prog_photo{
			width : 100%;
			border-radius : 10px 10px 0 0;
		}
	/* Titres */
		.sport{
			font: 1.6rem 'Open sans',sans-serif;
			color:#222;
			font-weight: 300;
			margin:0;
			margin-top: 20px;
		}
		.titre_prog{
			font: 2rem 'Open sans',sans-serif;
			color:#222;
			font-weight: 700;
			margin:0;
		}
		.membre{
			font: 1rem 'Open sans',sans-serif;
			color:#222;
			font-weight: 500;
			margin:0;
			margin-top: 10px;
		}
	/* Menu Recap programme (table) */
		.recap{
			display:table;
			width:100%;
			padding: 0;
		}
		.recap>li{
			display:table-cell;
			width: 25%;
			height:50px;
			background-color:#fff;
			color:#222;
			text-align: center;
			border-right:solid 1px #222;
			padding: 20px 0;
		}
		.recap>li:nth-child(4){
			border-right : none;
		}
		.recap_image img{
			width : 30px;
			height: 30px;
		}
		.recap p{
			text-align: center;
			margin-top: 5px;
			margin-bottom: 0;
		}

	/* Liste matériel */

		.materiel-titre{
			font: 1rem 'Open sans',sans-serif;
			color:#222;
			font-weight: 400;
			margin: 0 30px;
			text-align: left;
		}
                .materiel{
                        display:block;
                        margin:0;
                        padding:0;
                }
                .materiel>ul{
                        list-style: none;
                        padding:0;
                        margin:0;
                }
		.materiel>li{
			text-align: center;
			margin-bottom: 20px;
                        padding:0;
                        margin:0;
		}
		.materiel>li:last-child{
			margin-bottom: 50px;
		}
		.border{
			width : 40%;
			margin: 50px auto;
			bottom-border :solid 1px #222;
		}

/* MENU DES JOURS */
		.container-jour{
			width: 100%;
			border :solid 1px #222;
			border-radius: 10px;
			text-align: left;
			background-color: #222;
			color:#FFF;
			border-radius : 10px;
			padding-bottom: 10px;
		}
		/* on cache les jours */
		.container-jour ul>li>ul{
			width:auto;
			margin:0;
			display:none;	
		}

	/* Titre calendrier */	
		.container-jour>p:first-child{
			margin: 10px 10px;
			line-height: 10px;
		}
		.container-jour ul{
			padding:0;
		}

	/* Liste */
		.jour{
			line-height: 50px;
			border-bottom:solid 1px #222;
		}
	/* Titre jour */
		.jour a{
			display: block;
			width:auto;
			list-style: none;
			transition-duration:0.7s;
			background: #FFF;
			color:#222;
			text-align: left;
			padding-left:20px;
		}
		.jour a:hover{
			background: #222;		
			/*background: rgba(30,45,53,0.7);*/
			color:#18ffff;
		}
		.jour a::after:hover{
			background: rgba(0,0,0,0.3);
			color:#18ffff;
		}	
		.jour a:nth-child(1)::after{
			content:"\f144";
			font-family: 'FontAwesome';
			margin-right: 10px;
			float: right;
		}


	/* Titre exercice */
		.sub-menu>p:nth-child(1){
			background:#FFF;
			color:#222;
			font-weight: 700;
			margin:0;
			padding-top: 30px; 
		}
		.ex_titre strong{
			margin: 30px;
			line-height: 30px;
                        color: #222;
                        text-transform:uppercase;
		}

/* EXERCICES */

		.sub-menu{
			background: #FFF;
		}

	/* Menu Recap exercice (table) */
		.recap_ex{
			display:table;
			width:100%;
			padding: 0;
		}
		.recap_ex li{
			display:table-cell;
			width:160px;
			height:25px;
			background-color:#fff;
			color:#222;
			text-align: center;
			border-right:solid 1px #222;
			margin-top: 100px;
			margin-bottom: 1px;
			padding: 5px;
		}
		.recap_ex>li:nth-child(3){
			border-right : none;
		}
		.recap_ex p{
			line-height: normal;
			margin-bottom: 5px;
			padding: 0;
		}		
		.recap_ex a{
			line-height: normal;
			font-weight: 700;
			text-align: center;
			margin:0;
			padding: 0;
		}

	/* Corps exercice ->3 colonnes avec table) */
		/* table */
		.corps_ex{
			display:table;
			width:100%;
			padding: 0;
			margin-top: 50px;
		}
		.corps_ex li{
			display:table-cell;
			background-color:#fff;
			color:#222;
			margin-bottom: 1px;
			padding: 5px;
		}
		/* largeur colonnes */
		.corps_ex>li:nth-child(1){
			width:12%;
		}
		.corps_ex>li:nth-child(2){
			width:48%;
		}
		.corps_ex>li:nth-child(3){
			width:40%;
		}
		.corps_ex p{
			line-height: normal;
		}

		.colonne1{
			text-align: center;
		}
		.colonne1 div{
                        display:block;
			margin-bottom: 15px;
                        height:auto;
		}
		.colonne1 img{
			width : 30px;
			height: 30px;
			line-height: normal;
			margin:0;
		}
                .colonne1 p{
                        margin:0;
                }
		.colonne2{
			text-align: left;
			vertical-align: top;
		}
		.colonne2 p{
			padding-right: 10px;
                        margin-bottom: 20px;
		}
		.colonne3{
			vertical-align: top;
		}
		.colonne3 img{
			text-align: center;
			width: 100%;
		}

/***************************** FOOTER FIXE SUR TOUTES LES PAGES *******************************/
/* FOOTER */
		footer{
			display:block;
                        height:40px;
                        width:100%;
			bottom:0;
			background: rgba(30,45,53,0.7);
			width: 100%;
                        clear:both;                       
		}
		footer ul{
			padding: 0;
			margin: 0 auto;
			width:100%;
			text-align: center;
			align-content: center;
			/*justify-content: space-between;*/			
		}
		footer nav ul li{
			display: inline-block;
			width: 11.6%;
			height: 40px;
                        line-height:40px;
			text-align: center;
			margin: 0 auto;
		}
		footer li a{
			font-weight: 300;
			color: #fff;
			transition-duration: 0.1s;
			line-height: 40px;
		}
	/* Animation texte */	
		nav ul li a:hover{
			font-weight: bolder;
                        text-decoration: none;
                        color:#fff;
		}
		.normal_foot>a:hover{
			font-weight: 300;
		}

		
/***************************************************************/ 
/* FORMULAIRE*/

	/* Formulaire programme */
		/* supprime border des inputs */
		input{
			background: none;
			border: solid 1px transparent;
			border-bottom-color: #ccc;
			padding:10px;
			margin : 0 0 20px 0;
		}
		/* trait devient bleu quand clique */
		input[type="texte"]:focus,input[type="email"]:focus{
			border-bottom : solid 1.7px #2979ff;
		}

		[placeholder]{
			width:auto;
			font-size: 1rem;
			color:#222;
			transition-duration: 0.1s;
			padding:10px;
		}
		[placeholder]:focus{
			color:#222;
		}
		select{
			border:none;
			margin-top:20px;
			cursor: pointer;
		}
		.menu_prog{
			padding:10px 10px 0px 10px;
		}
		.materiel{
			padding-left:0;
		}
		.materiel textarea{
			width:80%;
		}

		button[type="submit"]{
			width:100%;
			background-color: #51a351;
			background-image: linear-gradient(center bottom, rgba( 0, 0, 255 ,1.0), rgba( 0, 255, 255
,1.0));
			background-image: -moz-linear-gradient(center bottom, rgba( 0, 0, 255 ,1.0), rgba( 0, 255, 255
,1.0));
			background-image: -webkit-linear-gradient(center bottom, rgba( 0, 0, 255 ,1.0), rgba( 0, 255, 255
,1.0));
			/*text-shadow:-1px 1px 1px #222;*/
			font:16px 'Open sans',sans-serif;
			color:#fff;
			font-size: 1rem;
			font-weight: 600;
			border:0;
			padding : 7px;
			
		}
		button[type="submit"]:hover{
			background-color: #33FFCC;
			background-image: none;
			padding : 7px;
			cursor: pointer;
		}
		/* Exercice formulaire 3eme col.*/
		.recap_li_prog li{
			padding-bottom: 2px;
		}
		.label-file-ex{
		    text-align: center;
		}
		/* Exercice formulaire 2eme col.*/
		.colonne2 p{
			display: block;
			width:80%;
			margin: 0 auto;
		}
		.col2-bis>p:nth-child(1){
			margin-bottom: 0;
		}
		.colonne2 input{
			display: block;
			width:80%;
			margin: 0 auto 20px;
		}
		.colonne2 textarea{
			display: block;
			width:80%;
			text-align: left;
		}
		#consigne{
			margin: 0 auto;
		}

		/* Exercice formulaire 1ere col.*/
		.col1-bis>div{
			margin-top: 0;
		}
		.colonne1-bis>div:nth-child(1){
			margin-bottom: 20px;
		}
		.col1-bis img{
			display: block;
			margin: 0 auto 20px;
		}
		.colonne1 label{
			display: block;
			line-height: normal;
		}
		.sub-menu button{
			margin: 50px auto 0;
		}                
                
                