{% extends "layout.html.twig" %}

{% block title 'Edit' %}

{% block content %}
    
<div class="background-1">

<div class="container-admin">
    
    <h1>    
    {% if objectif.id is empty %}
            Nouvel
        {% else %}
            Modification de l'
        {% endif %}
        objectif
    </h1>
   
    <form method="post">
        <div class="form-group">
            <label>Titre</label>
            <input type="text" name="titre" class="form-control" value="{{ objectif.titre }}">
        </div>
        
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('liste_objectif') }}" class="">Annuler</a>
    </form>
    
</div>
</div>
        
{% endblock %}

