{% extends "layout.html.twig" %}

{% block title 'Création programme' %}
    
{% block content %}
    
    <form method="post">
        <div>
            <label>Titre du programme</label>
            <input type="text" name="titre">
        </div>
        <div>            
            <label>Objectif</label>
            <select name="objectif_id">
                <option value="1">Se relaxer</option>
                <option value="2">Sculpter son corps</option>                
                <option value="3">S'affiner</option>                
                <option value="4">Prendre du volume</option>                
                <option value="5">Booster son endurance</option>                
                <option value="6">Travailler sa souplesse</option>                
                <option value="7">Gagner de la force</option>                
                <option value="8">Travailler la vitesse</option>                
            </select>
        </div>
        <div>            
            <label>Matériel</label>
            <select name="materiel">
                <option value="oui">Oui</option>
                <option value="non">Non</option>
                <option value="facultatif">Facultatif</option>
            </select>
        </div>
        <div>            
            <label>Difficulté</label>
            <select name="difficulte">
                <option value="facile">Facile</option>
                <option value="moyen">Moyen</option>
                <option value="difficile">Difficile</option>
                <option value="infernal">Infernal</option>
            </select>
        </div>
        <div>
            <label>Photo</label>
            <input type="file" name="photo" value="">
        </div>
            <label>Sport</label>
            <select name="sport">
                <option value="muscu">Musculation</option>
                <option value="yoga">yoga</option>
                <option value="fitness">Fitness</option>
                <option value="souplesse">Souplesse</option>
            </select>
        <div>
            <label>Durée du programme (en semaine)</label>
            <input type="text" name="duree">
        </div>
         
        <h2>Jour 1</h2>
        <input type="hidden" name="programme_id" value="{{jour.programmeId}}">
        <div>
            <label>Ordre</label>
            <input type="text" name="ordre" value="1">
        </div>
        <div>
            <label>Statut</label>
            <select type="text" name="statut">
                <option>choisir</option>
                <option value="entrainement">entrainement</option
                <option value="repos">repos</option>>
            </select>
        <div>
            
        <div>
            <label>Titre de l'exercice</label>
            <input type="text" name="titre">
        </div>
        <div>
            <label>Consigne</label>
            <textarea type="text" name="consigne"></textarea>
        </div>
        <div>            
            <label>Difficulté</label>
            <select name="difficulte">
                <option value="facile">Facile</option>
                <option value="moyen">Moyen</option>
                <option value="difficile">Difficile</option>
                <option value="infernal">Infernal</option>
            </select>
        </div>
        <div>            
            <label>Zone musculaire</label>
            <select name="zone_musculaire">
                <option value="cou">Cou</option>
                <option value="epaule">Epaules</option>
                <option value="bras">Bras</option>
                <option value="dos">Dos</option>
            </select>
        </div>
        <div>
            <label>Muscle ciblé</label>
            <input type="text" name="muscle_cible">
        </div>
        <div>
            <input type="hidden" name="jour_id" value="{{ exercice.jourId }}">
        </div>
        <div>
            <label>Photo</label>
            <input type="file" name="photo" value="">
        </div>
        <div>
            <label>Séries</label>
            <input type="text" name="serie" value="">
        </div>
        <div>
            <label>Répétitions</label>
            <input type="text" name="repetition" value="">
        </div>
        <div>
            <label>Détails séries</label>
            <textarea type="text" name="detail_serie"></textarea>
        </div>
        <div>
            <label>Temps de repos entre chaque série</label>
            <textarea type="text" name="temps_repos"></textarea>
        </div>
        
        <button type="submit">Enregistrer</button>
    </form>

{% endblock %}
