{% extends "layout.html.twig" %}

{% block title '' %}
    
{% block content %}
    
    <h1>{{ programme.titre }}</h1>
    <p> {{ programme.duree }}</p>
    <p> {{ programme.materiel }}</p>
    
    {% for jour in jours %}
        <p>{{ jour.id }}</p>
    {% endfor %}

{% endblock %}